.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 800vw;
  padding: 0 10px;
  background-color: #E0FBFC;
  
}
.gridContainer .Footer {
  display: flex;
flex-direction: column;
justify-content: flex-end;
font-weight: bold;
}

.NavBar {
  background-color: #8994A9;

      /* background-color: #ffffff; */
      height: 70px;
      width: 100%;
     
   
}
.SideBar {
  grid-column: 2;
  min-height: 200px;
 
     
  border-radius: 1.5rem;
 
  background-color: #3B577C;
}

.Content {
  grid-column: 1;
  margin-left: auto;
  background-color: #93BBD2;
  padding: 1rem;
  border-radius: 1.5rem;
}

